<h3>Form for Request</h3>
<%=form_for :request, url: {action: "create"} do|f|%>
	<p>
		<%= f.text_field :name, placeholder: "Enter your name"%>
	</p>
	<p>
		<%= f.text_area :location, placeholder: "Enter your location"%>
	</p>
	<p>
		<%= f.text_field :destination, placeholder: "Enter your destination"%>
	</p>
	<p>
		<%= f.text_field :contact, placeholder: "Enter age contact"%>
	</p>
	<p>
		<%= f.text_field :age, placeholder: "Enter your age"%>
	</p>

	<%= submit_tag ("Post Request")%><br/>
	
<%end%> 